<p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
  <span class="float-md-left d-block d-md-inline-block">Copyright &copy; 2021 <a class="text-bold-800 grey darken-2" href="https://www.infotech.co.kr" target="_blank">infotech </a> </span>
</p>

<script src="/app-assets/vendors/js/vendors.min.js"></script>
<script src="/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
<script src="/app-assets/js/scripts/tables/datatables/datatable-basic.min.js"></script>
<script src="/app-assets/vendors/js/charts/apexcharts/apexcharts.min.js"></script>
<script src="/app-assets/vendors/js/charts/chart.min.js"></script>

<script src="/app-assets/js/core/app-menu.min.js"></script>
<script src="/app-assets/js/core/app.min.js"></script>
<script src="/app-assets/js/scripts/customizer.min.js"></script>

<script src="/app-assets/js/scripts/cards/card-statistics.min.js"></script>

<script src="/app-assets/js/scripts/charts/chartjs/bar/bar.min.js"></script>
<script src="/app-assets/js/scripts/charts/chartjs/bar/bar-stacked.min.js"></script>
<script src="/app-assets/js/scripts/charts/chartjs/bar/bar-multi-axis.min.js"></script>
<script src="/app-assets/js/scripts/charts/chartjs/bar/column.js"></script>
<script src="/app-assets/js/scripts/charts/chartjs/bar/column-stacked.min.js"></script>
<script src="/app-assets/js/scripts/charts/chartjs/bar/column-multi-axis.min.js"></script>

<script src="/js/script.js"></script>