<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>infotech-monitoring</title>

<link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png" />
<link rel="shortcut icon" type="image/x-icon" href="/app-assets/images/ico/favicon.ico" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/vendors.min.css" />

<link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap-extended.min.css" />
<link rel="stylesheet" type="text/css" href="/app-assets/css/colors.min.css" />
<link rel="stylesheet" type="text/css" href="/app-assets/css/components.min.css" />

<link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu-modern.css" />
<link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.min.css" />
<link rel="stylesheet" type="text/css" href="/app-assets/fonts/simple-line-icons/style.min.css" />
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/card-statistics.min.css" />
<link rel="stylesheet" type="text/css" href="/app-assets/css/pages/vertical-timeline.min.css" />

<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

<link rel="stylesheet" href="/css/layerPopup.css" />
