
 <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
   <div class="main-menu-content">
     <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
       <li class="nav-item">
       <li><a class="menu-item" href="/monitoring/main">서버 모니터링 현황</a></li>
<!--       <li><a class="menu-item" href="/monitoring/list">서버 등록 현황</a></li>-->
       <li><a class="menu-item" href="/monitoring/nxgate">Non ActiveX</a></li>
<!--       <a href="index.html"><span class="menu-title" data-i18n="menu">메뉴</span></a>-->
<!--         <ul class="menu-content">-->
<!--           <li><a class="menu-item" href="/monitoring/main">모니터링 현황</a></li>-->
<!--           <li><a class="menu-item" href="/monitoring/list">서버 등록 현황</a></li>-->
<!--           <li><a class="menu-item" href="/monitoring/nxgate">Non ActiveX</a></li>-->
<!--         </ul>-->
<!--       </li>-->
     </ul>
   </div>
 </div>